# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:password@host:3306/database_name"
SECRET_KEY=your-jwt-authentication-secret-key
GOOGLE_CLOUD_PROJECTID=your-google-cloud-project-id
GOOGLE_CLOUD_BUCKET=your-google-cloud-storage-bucket-name